.order-constructor {
  border: 1px solid gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;


  &__order-list{
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__name{
    padding: 5px 0 7px 20px;
    font-size: 27px;
    border-bottom: 1px solid gray;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    max-height: 600px;

    & .dagger {
      margin: auto 10px 10px auto;
    }

    & .button-section {
      margin: auto auto 0 0;
      width: 100%;
      border-top: 1px solid silver;
      & .dagger {
        float: right;
      }
    }
  }

  &__tab {
    padding: 10px 10px 0 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 8px;
    min-height: 60px;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;

    &:hover {
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03);
      background-color: silver;
    }
  }
  .placeholder{
    opacity: 0.3;
    font-weight: bold;
    cursor: default;
    padding: 10px;
  }

}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #999;
}

::-webkit-scrollbar-track-piece {
  background-color: #ededed;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
}

::-webkit-resizer {
  background-color: #666;
}