.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  background-color: #3f3f3f;
  padding: 10px 0 10px 0;
  border-top: 4px solid silver;
  color: white;

  &__content {
    padding: 20px 0 10px 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fa {
    font-size: 37px;
    color: white !important;

    &:hover {
      color: #ccc !important;
    }
  }

  &__logo {
    &_e {
      position: relative;
      font-weight: bold;
      font-size: 38px;
      font-family: trebuchet ms;
      font-style: italic;
      top: 1px;
    }

    &_w {
      font-size: 36px;
      font-family: trebuchet ms;
      font-weight: bold;
    }
  }
}