@import '../../css/mixins';

.courier-panel {
  display: flex;
  flex-direction: column;
  @include border();
  @include shadow();
  min-width: 550px;
  min-height: 500px;

  &__content {
     overflow-y: scroll;
     overflow-x: hidden;
      margin: auto 0;

     & .list__content {
       max-height: 505px !important;
     }
   }

  &__title {
    &_p {
      padding: 10px;
    }

    & .main-item-style {
      font-size: 16px;
    }

    &-input {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;

      & .input-coordinate {
        margin-top: 10px;
      }

      & .button-section {
        margin: 20px auto;
        width: 100%;
      }

      & .main-item-style {
        width: 100%;
        margin: auto;
      }
    }

    &_edit {
      padding: 13px 20px 5px 10px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid lightgray;
      border-radius: 10px;

      & span {
        cursor: default;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    cursor: default;

    &-item {
      align-items: center;
      display: flex;
      padding: 0 1px 0 7px;
      border: 1px solid lightgray;
      border-radius: 5px;
      cursor: pointer;
      @include animate();

      & .fa {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 0;
        font-size: 20px !important;
      }

      &:hover, &:active {
        background-color: #212529;
        color: white;

        .fa {
          color: white !important;
        }
      }
    }
  }

  &__map {
    display: flex;
    padding: 0 10px;
  }

  &__body {
    height: 350px;
    overflow-y: scroll;
  }

  &__delivered {
    min-height: 500px;
    display: flex;
    flex-direction: column;

    &-title {
      display: flex;
      flex-direction: row;

      & h5 {
        margin: 10px 0 0 10px;
      }

      & .fa {
        font-size: 14px;

        &.fa-arrow-left {
          margin-right: 7px;
        }

        &.fa-arrow-right {
          margin-left: 7px;
        }
      }

      & span {
        padding: 7px;
        cursor: pointer;
        margin-left: auto;
        border: 1px solid lightgray;
        border-top: none;
        border-right: none;
        border-bottom-left-radius: 7px;
        background-color: #F0F0F0;
        transition: 0.6s;
        white-space: nowrap;
        max-height: 40px;

        &:hover {
          transition: 0.6s;
          background-color: #3e444c;
          color: white;

          & .fa {
            transition: 0.6s;
            color: white !important;
          }
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      padding: 5px;

      &_scroll {
        padding: 0 10px;
        height: 344px;

        & small {
          margin-top: auto;
        }
      }

      & .fa {
        font-size: 23px;
        width: 30px;
        height: 40px;
      }

      & .courier-panel__item {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 15px;
        width: 100%;
        @include animate;

        &:hover {
          @include animate-hover(1.02)
        }
      }
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px;
  }
}

@media (max-width: 500px) {
  .courier-panel {
    width: 50vmax;
    font-size: 15px !important;

    & input {
      font-size: 15px !important;
    }

    & label {
      font-size: 15px !important;
    }

    &__delivered-title {
      flex-direction: column;

      & h5 {
        order: 2;
        font-size: 16px !important;
      }

      & span {
        order: 1;
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: 500px) and (min-height: 700px) {
  .courier-panel {
    width: 43vmax !important;
  }
}