@import "../../css/mixins";

.header {
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: #F5F5F5;
  padding: 5px 15px 5px 25px;

  &__title {
    cursor: pointer;
    font-size: 35px;
    white-space: nowrap;

    &-logo {
      width: 200px;
    }
  }

  .header__navigation-section {
    display: flex;
    margin-left: auto;

    &_mobile {

      & .mobile-content {
        display: flex;
        flex-direction: column;
      }
    }
  }

  & .main-item-style {
    margin: 10px;
  }

  &__user {
    margin: 10px 20px 0 20px;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
    white-space: nowrap;

    & .fa {
      font-size: 30px;
    }

    .name {
      font-size: 23px;
      margin: 0 10px 0 10px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 500px) {
  .header__title-logo {
    width: 150px;
  }
  .header__user {
    & .fa {
      font-size: 27px;
    }

    .name {
      font-size: 20px;
    }
  }
}
