.header {
  display: flex;
  background-color: #F5F5F5;
  padding: 5px 15px;

  &__title{
    cursor: default;
    font-size: 35px;
    border-bottom: 2px solid #5CB85C;
    white-space: nowrap;
  }

  &__btn-section {
    display: flex;
    margin-left: auto;
    flex-direction: row;
  }

  & .main-item-style{
    margin: 10px;
  }

  &__user{
    padding: 20px 20px;
    justify-content: center;
    cursor: pointer;
    opacity: 0.9;

    & .fa.fa-user-circle-o{
      font-size: 30px;
    }
    .name {
      font-size: 23px;
      margin: 0 10px 0 10px;
    }
    &:hover {
      opacity: 1;
    }
  }
}