.header {
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: #F5F5F5;
  padding: 5px 15px 5px 25px;

  &__title{
    cursor: pointer;
    font-size: 35px;
    border-bottom: 2px solid #5CB85C;
    white-space: nowrap;

    &-logo {
      width: 150px;
    }
  }

  &__content-section {
    display: flex;
    margin-left: auto;
    flex-direction: row;

    &_block {
      display: block;
    }
  }

  & .main-item-style{
    margin: 10px;
  }

  &__user{
    margin: 10px 20px 0 20px;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;

    & .fa.fa-user-circle-o{
      font-size: 30px;
    }
    .name {
      font-size: 23px;
      margin: 0 10px 0 10px;
    }
    &:hover {
      opacity: 1;
    }
  }
  .toggle-menu {
    box-shadow: none;
    background: transparent;
    border: 0;
  }

  .toggle-menu {
    display: none;
    font-size: 2rem;
    color: gray;
    transition: margin .2s;
    margin-left: auto;
  }

  @media screen and (max-width: 500px) {
    nav {
      align-items: center;
    }
    .header__content-section {
      display: none;
    }
    .toggle-menu {
      display: block;
    }
  }
}