.courier {
  display: flex;
  flex-direction: column;

  &__input {
    display: flex;
    flex-direction: column;
  }

  & a {
    color: white !important;
  }

  & input, & textarea{
    border: 1px solid lightgray;
  }
  & .button-section{
    margin-bottom: 10px;
  }
}