@import "../../css/mixins";

.password-change {
  @include modal();
  padding: 20px;
  width: 45vmax;
  min-height: 200px;
  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    @include border()
  }
}

@media (max-width: 600px) {
  .password-change {
    & input {
      width: 90% !important;
    }
  }
}