@import "../../css/mixins";

.password-change {
  @include modal();
  padding: 20px;
  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    @include border()
  }
}

@media (min-width: 600px) {
  .password-change {
    min-width: 500px;
    min-height: 200px;
  }
}