.scroll-to-top {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 60px;
  right: 50px;
  border-radius: 30px;
  font-size: 40px;
  height: 50px;
  width: 50px;
  z-index: 998;
  transition: all .7s;
  background-color: white;
  color: #056405;
  border: 1px solid #056405;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  &:hover, &:active {
    border: 0;
    background-color: #056405;
    color: white;
  }
  &:active, &:focus {
    outline: none !important;
  }
}


@media (max-width: 570px) {
  .scroll-to-top {
    bottom: 70px !important;
    right: 20px !important;
    font-size: 30px !important;
    height: 40px !important;
    width: 40px !important;
  }
}
