@import "../../../css/mixins";

.tab {
  display: flex;
  flex-direction: column;
  cursor: default;

  &__title {
    display: flex;
    padding-left: 17px;

    & .target {
      margin-left: auto;
    }
  }

  &__content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;
    cursor: pointer;
    padding: 5px;
    background-color: white;
  }

  &__item {
    padding: 20px;
    color: black;
    position: relative;
    @include animate();

    &::before {
      content: "";
      position: absolute;
      top: 34px;
      bottom: auto;
      left: 20px;
      width: 11px;
      height: 11px;
      border-radius: 5px;
      background: #777777;
    }

    &_red:hover::before,
    &_red:focus,
    {
      background: rgb(226, 63, 51);
    }

    &_blue:hover::before,
    &_blue:focus,
    {
      background: rgb(19, 140, 228);
    }

    &_green:hover::before,
    &_green:focus,
    {
      background: rgb(4, 158, 81);
    }

    &_yellow:hover::before,
    &_yellow:focus,
    {
      background: #fbc630;
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &__product-list {
    display: flex;
    width: 100%;

    &_g {
      flex-direction: row;
    }

    &_v {
      flex-direction: column;
    }

    & .fa {
      display: flex;
      margin-left: auto;
      margin-right: 10px;
      font-size: 27px;
    }

    & li {
      margin-right: 10px;
      white-space: nowrap;
    }
  }
}