@import "../../css/mixins";

.auth-form{
  padding: 20px;

  &__inputs{
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
  }

  & .button-section{
    margin: 20px 0 10px 0;
  }
}

@media (min-width: 500px) {
  .auth-form {
    width: 500px !important;
  }
}